main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cookie {
  width: 300px;
  border: none;
  margin: 0 auto;
  border-radius: 50%;
}

.buildings-container {
  display: flex;
  padding: 10%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.save-btn {
  color: red;
}

h3 {
  color: green
}